.DropDownButton {

  color: black;
  border: none;


  background-color: var(--color-quaternary);

  cursor: pointer;


  font-family: var(--font-family-ea);
  font-size: var(--font-size-l);

  &:hover {

    svg {
      transform: rotateX(180deg);
      fill: var(--color-prymary);
      transition: 0.5s ease-in-out;
    }

    .DropDownButton {
      color: var(--color-prymary);
      transition: 0.5s ease-in-out;

    }
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &:hover {
    svg {
      transform: rotateX(180deg);
      fill: var(--color-prymary);
      transition: 0.5s ease-in-out;
    }

    .DropDownButton {
      color: var(--color-prymary);
      transition: 0.5s ease-in-out;

    }
  }
}