.DropDownContenetor {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  
  
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    

    position: relative;

    &:hover {
      svg {
        transform: rotateX(180deg);
        fill: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }

      .DropDownButton {
        color: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }
    }

    .DropDownButton {
      color: black;
      border: none;

      background-color: var(--color-quaternary);

      cursor: pointer;

      font-family: var(--font-family-ea);
      font-size: var(--font-size-l);
    }
  }
  .second {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-self: center;
    justify-content: space-between ;
    

    &:hover {
      svg {
        fill: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }

      .DropDownButton {
        color: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }
    }
  }


.DropDownContenetorSvg{
  align-self: flex-start;
}

  .DropDownButton {
    font-size: var(--font-size-xl);
    color: black;
    display: flex;
    flex-direction: row;
  }
  .DropDownMenu {
    color: gray;
    display: flex;
    flex-direction: column;
  }

  .separator{
    align-self: center;
    height: 1px;
    width: 90%;
    background-color: aquamarine;
  }
}
