.container {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.dropDownTittle{
  max-width: 100px;
}

.first-option-open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.first-option-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
}

.options div {
  padding: 10px;
  cursor: pointer;
}

.option div:hover {
  background-color: #f0f0f0;
}

.explore{
  display: flex;
  flex-direction: column;
}
