

.DropDownContenetor {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;

 
  
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    

  

    &:hover {
      svg {
        transform: rotateX(180deg);
        fill: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }

      .DropDownButton {
        color: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }
    }

    .DropDownButton {
      color: black;
      border: none;
      white-space: nowrap;

      background-color: var(--color-quaternary);
      z-index: 2;

      cursor: pointer;

      font-family: var(--font-family-ea);
      font-size: var(--font-size-l);
    }
  }


  
  .second {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    align-self: center;
    justify-content: space-between ;


    
    

    &:hover {
      svg {
        fill: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }

      .DropDownButton {
        color: var(--color-prymary);
        transition: 0.5s ease-in-out;
      }
    }

    
  .DropDownButton {
    font-size: var(--font-size-xl);
    color: black;
    display: flex;
    flex-direction: row;
   
  }
  .DropDownMenu {
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    align-self: center;
    justify-content: space-between ;


    &:hover {
      color: red;
    }
  }


}

  }


.DropDownContenetorSvg{
  align-self: flex-start;
}




.DropDownContenetorFirst{
  height: 100%;
  width: 100%;
}

/* Aplica estilos solo al primer .DropDownMenuMenu dentro del primer .DropDownMenu.second dentro de .DropDownContenetor.second que está dentro de .menuHamburguerMenu */
.menuHamburguerMenu .DropDownContenetor .second:first-of-type .DropDownMenu .second .DropDownMenuMenu:first-of-type {
  display: none
}


.menuHamburguerAction{
  font-size: var(--font-size-xl);
}