.footerSims4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fondoClaro {
  width: 100%;
  height: fit-content;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #eaeff4;
}

.fondoOscuro {
  width: 100%;
  height: fit-content;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #192537;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subContenido1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 45%;
}

.iconosRS {
  display: flex;
  flex-direction: row;

  gap: 20%;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.subContenido2 {
  display: flex;
  flex-direction: row;

  width: 100%;

  align-items: center;

  gap: 50%;
}

.subContenido3 {
  display: flex;
  flex-direction: row;

  width: 100%;

  gap: 2%;
}

.logoElectronicsArts {
  width: 200px;
}

.logoMaxis {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.logoSims4 {
  width: 120px;
}

.logoAdvertencias {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.linkTextoFooter {
  cursor: pointer;
  transition: text-decoration 0.3s;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.subContenido5 {
  display: flex;
  flex-direction: row;

  align-items: center;

  flex-wrap: wrap;
  gap: 1%;

  color: white;

  padding: 5px;

  .linkTextoFooter{
    font-size: 13px;
  }
}

.subContenido6 {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: white;

  padding: 5px;
}

.subContenido7 {
  display: flex;
  flex-direction: row;

  width: 100%;

  gap: 66%;

  color: white;

  padding: 5px;
}

.barraVertical {
  align-self: center;
  height: 25px;
  width: 0.5px;
  background-color: #000;
}

.barraHorizontal {
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
  height: 0.5px;
  width: 100%;
  background-color: #9f9f9f;
}

.barraVerticalBlanca {
  height: 25px;
  width: 1px;

  background-color: #9f9f9f;
}

.barraHorizontalBlanca {
  width: 100%;
  height: 1px;

  background-color: #9f9f9f;
}
