.footerSims4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fondoClaro {
  width: 100%;
  height: fit-content;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #eaeff4;
}

.fondoOscuro {
  width: 100%;
  height: fit-content;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #192537;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subContenido1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 45%;
}

.iconosRS {
  display: flex;
  flex-direction: row;

  gap: 20%;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.subContenido2 {
  display: flex;
  flex-direction: row;

  width: 100%;

  align-items: center;

  gap: 50%;
}

.subContenido3 {
  display: flex;
  flex-direction: row;

  width: 100%;

  gap: 2%;
}

.logoElectronicsArts {
  width: 200px;
}

.logoMaxis {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.logoSims4 {
  width: 120px;
}

.logoAdvertencias {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.linkTextoFooter {
  cursor: pointer;
  transition: text-decoration 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

.subContenido5 {
  display: flex;
  flex-direction: row;

  width: 90%;

  gap: 2%;

  color: white;
}

.subContenido6 {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: white;
}

.subContenido7 {
  display: flex;
  flex-direction: row;

  width: 100%;

  gap: 70%;

  color: white;
}

.barraVertical {
  height: 100%;
  width: 2px;
  background-color: #000;
}
