.navBarSims4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  background-color: #192537;
  align-items: center;
  justify-content: center;
  gap: 75%;
  z-index: 10;
}

.navBarWrapper {
  position: relative;
}

.empresa{
  color: aliceblue;
}

ul li {
  list-style: none;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.textoBoton{
  background-color: transparent;
  border: none;
  color: azure;
}

.navBarSims4Dos {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 45px; 
  width: 100%;
  height: 60px;
  gap: 100px;
  border: 1px solid rgb(233, 233, 233);
  background-color: white;
  opacity: 90%;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 400;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 100%; 
}

.estilosNavBarSims4Dos {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.estilosNavBarSims4DosDer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  gap: 40px;
}

ul li {
  list-style: none;
}

.logoSims4 {
  width: 100px;
  height: auto;
}

.textoBoton {
  background-color: transparent;
  border: none;
  font-size: medium;
  font-weight: 400;
}

.navBarSims4 .textoBoton {
  color: azure; 
}

.navBarSims4Dos .textoBoton {
  color: rgb(0, 0, 0); 
}

.textoBotonAzul {
  background-color: rgb(0, 0, 202);
  color: azure;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: medium;
  font-weight: 400;
}