.navBarSims4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  background-color: #192537;
  align-items: center;
  justify-content: center;
  gap: 75%;
}

ul li {
  list-style: none;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

// .logoSims4 {
//   color: azure;
  
// }

button {
  background-color: transparent;
  border: none;
  color: azure;
}