.cardHorTextIzq{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}


.contenidoCardHorTextIzq{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.imgCardHorTextIzq{
    width: 700px;
    height: auto;
}


.modo{
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
}
