.linkCardDestacada {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-xl);
  font-style: var(--font-style-ea);
}

.backgroundImage {
  width: 355px;
  height: 355px;
}

.cardDestacada {
  background: var( --color-background-card-destacada);
  width: 355px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: var(--ea-transition-duration);
}


.cardDestacada:hover {
  background: linear-gradient(
    to right,
    var(--color-gradient1),
    var(--color-gradient2)
  )
  ;
}

img.logoCardDestacada {
  width: 250px;
  height: 50px;
  transform: translateY(0px);
  transition: var(--ea-transition-duration);

}

.cardDestacada:hover .logoCardDestacada {
  transform: translateY(-20px);
}

.textCardDestacada {
  display: none;
  transition: var(--ea-transition-duration);
}

.cardDestacada:hover .textCardDestacada {
  display: block;
}
