.linkCardDestacada {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-xl);
 
  margin-right: 0px;
  width: 355px;
  height: 355px;
  max-width: 355px;
  max-height: 355px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
}

.cardDestacada {
  background: var( --color-background-card-destacada);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: var(--ea-transition-duration);
  
  
}


.cardDestacada:hover {
  background: linear-gradient(
    to right,
    var(--color-gradient1),
    var(--color-gradient2)
  )
  ;
}

img.logoCardDestacada {
  width: 250px;
  height: 50px;
  transform: translateY(0px);
  transition: var(--ea-transition-duration);

}

.cardDestacada:hover .logoCardDestacada {
  transform: translate3d(0,-40px,0);
}

.textCardDestacada {
  display: none;
  
  transition: var(--ea-transition-duration);
}

.cardDestacada:hover .textCardDestacada {
  display: block;
  
}

.CardsDestacadas{

  margin: auto;
padding: var(--padding-vert-container) 0;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;


}
.textCardDestacada a{
  color: white;
}