.textContainer {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.texto {
    width: 100%;
    color: var(--color-quinary);
    font-size: var(--font-size-l);
    font-family: var(--font-family-primary-ea);
    font-weight: var(--font-weith-s);
    line-height: 1.5;
    margin: 0;
}