.base-container {
  padding: var(--padding-vert-container) var(--padding-side-container);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.centered {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
}