.base-container {

  margin: auto;
  padding: var(--padding-vert-container) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1224px;
}

.centered {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
}