.mensajeContenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #b8b8b8; 
  border-radius: 7px;
  border-left: 15px solid blue;
  gap: 30px;
  cursor: pointer;

  a:hover {
    text-decoration: underline;
  }

  a {
    color: #222222; 
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  svg {
    margin-left: 5px;
    &:hover {
      background-color: #e1e1e1;
      padding: 7px;
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}

.barraMensaje {
  height: 30px;
  width: 0.3px;
  background-color: #b8b8b8; /* Using the direct value instead of a variable */
}

.cerrar {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: medium;
  margin-right: 20px;

  &:hover {
    background-color: #e1e1e1;
    padding: 7px 10px;
    border-radius: 5px;
  }
}