.mensajeContenedor {
  display: flex;
  flex-direction: row;

  position: relative;

  margin: auto;


}

.mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;

  border: 1px solid rgb(168, 168, 168);
  border-radius: 7px;
  border-left: 15px solid blue;

  gap: 30px;

  cursor: pointer;
  transition: text-decoration 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

.barraMensaje {
  height: 30px;
  width: 0.3px;

  background-color: rgb(168, 168, 168);
}

.flecha {
  font-weight: 900;
  size-adjust: 10px;
}

.cerrar {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: medium;
  margin-right: 20px;

  &:hover {
    background-color: rgb(226, 226, 226);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-top: 5px;
  }
}