@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);


.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.container {
  position: relative;
  display: inline-block;
}

.compraAhora {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  gap: var(--spacing-md);
}

.navbar-container {
  height: 100px;
}

.h1 {
  font-family: var(--font-family-ea);
  font-size: var(--font-size-xl);
  color: var(--color-sextary);
  margin-bottom: -25px;
}