.dropdown_wrapper {
  position: relative;
  width: 100%;
}

.dropdown_activator {
  display: flex;
  flex-direction: column;

  background-color: inherit;

  border: 2px rgb(198, 198, 198) solid;
  border-radius: 10px;

  height: 50px;

  color: gray;

  align-items: left;
  justify-content: center;

  font-weight: var(--font-weith-xs);
  font-size: small;
  cursor: pointer;
}

.item_list {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: fit-content;
}

.selected_item {
  color: var(--color-sextary);
  text-align: left;
}

.flechaFooter {
  margin-left: 130px;
  margin-top: -30px;
}
