:root {

  --spacing-xl: 150px;
  --spacing-lg: 100px;
  --spacing-md: 50px;
  --spacing-sm: 20px;
  --spacing-xs: 5px;

  --color-primario: rgb(59, 120, 85);
  --color-primario-disabled: rgb(59, 120, 85, 0.5);
  --color-secundario: rgb(59, 120, 85);
  --color-secundario-disabled: rgb(59, 120, 85, 0.5);

  --text-color: white;

  --border-radius-sm: 5px;
}