svg {
  fill-rule: nonzero;
  stroke: none;
  fill-opacity: 1;
  fill: rgb(0%, 0%, 0%);
}

.otro svg{
  width: 30px;
  height: 30px;
}

.otro:hover {
  transform: scale(1.2, 1.2);
  fill: var(--color-secundary);
  transition: fill 0.3s linear 0.2s;
}

.redSocial:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.3s;
}
