

.card {
  background-color: #fff;
  min-width: 365px;
  height: auto;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;


  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(49, 59, 55, 0.846);
}

.cardContent {
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  max-height: fit-content;

}

.imageContainer {
  position: relative;
  width: 100%;
  height: 208px;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--gap);

  margin-top: -20px;
  margin-bottom: -15px;
}

.cardTitle {
  font-family: var(--font-family-ea);
  font-size: var(--font-size-s);
  font-weight: bold;
  color: var(--color-secundary);
  margin: 6px 0px 0px;
}

.cardDate {
  font-family: var(--font-family-ea);
  font-size: var(--font-size-s);
  color: var(--text-color-boton);
  font-weight: bold;
}

.cardSubtitle {
  font-family: var(--font-family-ea);
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--text-color-boton);
  line-height: 1.25;
  letter-spacing: -0.035rem;
  text-align: left;
  margin: 6px 0 10px;
  height: fit-content;
  width: 318.7px;
}

.cardText {
  font-family: var(--font-family-ea);
  font-size: var(--font-size-l);
  line-height: 1.4;
  color: #333;
  margin: 0;
  text-align: left;
  width: 297.55px;
  height: fit-content;
}