.video-container {
    display: flex;
    position: relative;
    width: 98.9vw;
   
    margin: 0 auto;
  }
  
  video {
    width: 100%;
    height: 545px;
    object-fit: cover;
  }

  .immortalsLogo {
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  
  .img-videogames{
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; 
    position: absolute;
    width: 84em;
    top: 48.9%;
    left: 50.2%;
  }
  .light-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
  }

  .video-buttons {
    position: absolute;
    top: 4%;
    left: 98%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
  }
  
  .video-buttons svg {
    font-size: 28px; 
    cursor: pointer; 
    margin: 0 10px; 
    fill: white;
  }
  