.DropDownMenuHole {
  height: 15px;
  width: 100%;
}

.DropDownPadre {
  margin-left: -30px;
  display: flex;
  position: fixed;
  background: white;
  transition: var(--ea-transition-duration);
  border-radius: var(--border-radius-sm);
  z-index: 1;
  font-family: var(--font-family-ea);

  .DropDownMenu, .doble{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    .doble{
      text-align: start;
      padding-left: var(--spacing-s);
    }
    
    ul{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0px;
      text-align: start;
      margin-top: 0px;
    }
  }


  .simple {
    display: none;
  }

  .doble {
    z-index: 1;
  }

  ul {
    list-style: none;
  }

  li {
    padding: var(--spacing-s);;
    transition: var(--ea-transition-duration);
  }


  a {
    text-decoration: none;
    color: var(--color-sextary);

    &:hover {
      color: red;
    }
  }
}

.doble {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: black;
    border-bottom: var(--border);
    margin-bottom: var(--spacing-xxs);
    padding-bottom: var(--spacing-xs);
  }
}

.DropDownSectionDemo {
  display: flex;
  gap: var(--spacing-sm);
}

