.DropDownMenu {
  display: flex;
  transition: var(--ea-transition-duration);
  border-radius: var(--border-radius-sm);
  font-family: var(--font-family-ea);
  z-index: 2;

  


  .first {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 5px;
    margin-left: -100px;
    background: white;
    border-radius: var(--border-radius-sm);
    white-space: nowrap;

    h3 {
      color: black;
      margin-bottom: var(--spacing-xxs);
      padding-bottom: var(--spacing-xs);
      padding-left: var(--spacing-xs);
      text-decoration: underline;
      text-decoration-color: rgb(164, 164, 164);
      text-underline-offset: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0px;
      text-align: start;
      margin-top: 0px;
      list-style: none;
    }

    li {
      padding: var(--spacing-s);
      transition: var(--ea-transition-duration);
    }

    a {
      text-decoration: none;
      color: var(--color-sextary);

      &:hover {
        color: red;
      }
    }
  }

  .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-size: var(--font-size-l);
    width: 100%;
    height: 100%;

    &:hover {
      color: red;

      button{
        color: red;

        
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px;
      height: 100%;


      &:nth-child(1) > div:nth-child(2) {
        display: none;
      }

      button {
        
        align-self: center;
        font-size: var(--font-size-xxl);
        color: gray;
        height: 100%;

        background: none;

        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

       
      }

      li {
        margin: 10px;
       
      
        &:hover {
          color: red;
        }
      }

      svg{
        justify-content: flex-end;
      }
    }

    .separator {
      align-self: center;
      height: 1px;
      width: 90%;
      background-color: rgb(180, 180, 180);
    }
  }
}

.dropDownMenuButtonHamburguer {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  margin: 10px;
  transition: all 0.3s ease;


  
.separatorsecond {
  align-self: center;
  height: 1px;
  width: 100%;
  background-color: rgb(180, 180, 180);
}


  .dropDownMenuButtonHamburguerAction{
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: transform 0.3s ease;
    

  }

  &:hover {
    color: red;

    .dropDownMenuButtonHamburguerAction{
    svg {
      transform: rotate(45deg);
      transition: transform 0.3s ease; 
    }
  }
}}


