@import '../../styles/mixins';



.navbarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;



  .nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 0px;
    color: black;

    .easvg {
      padding: 0 50px;
      width: 200px;
      height: 31px;
    }

    .dropDownSection {
      height: 100%;
      display: flex;
      gap: var(--spacing-sm);
      align-items: center;
    }



  }
 
}




@include respond-to('large') {

  .nav{
    justify-content: left
  }
  .dropDownSection{
    display: none!important;
  }



 

  
}

