.dropdown_wrapper {
  width: 100%;
  margin-left: 50px;
}

.dropdown_activator {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: left;
  background-color: inherit;
  border: gray solid;
  border-width: 0.5px;
  border-radius: 2px;
  height: 70px;
  color: gray;
  font-weight: var(--font-weith-s);
  font-size: inherit;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  text-align: left;
}

.selected_item {
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-sextary);
  justify-content: left;
  margin-top: 10px;
  text-align: left;

}

.dropdown_item_list {
  background-color: var(--color-quaternary);
  display: none;
  bottom: -1110px;
  right: 220px;
  position: absolute;
  border-radius: 1px;
}

.dropdown_item_list.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.item_list {
  list-style: none;  
  width: 150px;
  height: 70px;
}

.item_list:last-child a {
  border-bottom: none;
}

.item_list a,
.item_list a:link {
  display: flex;
  color: var(--color-sextary);
  font-weight: var(--font-weith-m);
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.1s linear;
  width: 140px;
}

.item_list a:hover{
  transform: translateX(5px);
}

.flechaFooter{
  margin-left: 130px;
}