.dropdown_wrapper {
  margin-left: 50px;
  width: 210px;
}

.dropdown_activator {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: gray solid;
  border-width: 0.5px;
  border-radius: 4px;
  height: 80px;
  color: gray;
  font-weight: var(--font-weith-s);
  letter-spacing: 1.1px;
  font-size: inherit;
  padding: 1rem 0.6rem;
  cursor: pointer;
  width: 100%;
}

.selected_item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}

.dropdown_item_list {
  background: white;
  display: none;
  margin: 0;
  z-index: 1000;
  position: absolute;
  box-shadow: 0 0 2px 0 gray;
  border-radius: 5px;
  padding: 0;
}

.dropdown_item_list.active {
  display: grid;
}

.item_list {
  list-style: none;
}

.item_list:last-child a {
  border-bottom: none;
}

.item_list a,
.item_list a:link {
  display: flex;
  color: #666666;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.1s linear;
  width: 50px;
}