.HamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;






    button {
      all: unset;
      color: black;
    }




    .open {
      position: fixed;
      top: 0;
      left: 0;
      width: 330px;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    z-index: 2;

      a {
        all: unset;
        &.active {
          text-decoration: underline;
      }
    }

    .menuHamburguer, .menuHamburguerMenu {
      width: 100%;

      margin-top: 10%;
      color: black;

    }

    .menuHamburguerMenu {
      display: flex;
      flex-direction: column;

      font-size: 40px;
      height: 300px;





      .separator{
        width: 90%;
        height: 1px;
        background-color: black;
        align-self: center;
      }




      .dropdown{
        font-size: var(--font-size-xl);
      }

    }
  }


}


.menuHamburguerAction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(221, 221, 221);
  height:50px;
  svg{
    fill: none;
  }

  img{
    padding-left: 10px;
  padding-right: 10px;
  }

  button{
    padding-left: 10px;
  padding-right: 10px;
  }
}


div.HamburgerMenu > div > div > div.menuHamburguerMenu > div:nth-child(1) > div.DropDownMenu > div > ul:nth-child(1) > .DropDownMenuMenu{
  display: none;
}



