/* Estilos para el primer grid (footerGris y footerBlanco) */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.footerGris {
    background-color: var(--color-octave);
    height: 220px;
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1, 1fr;
}

.footerBlanco {
    background-color: var(--color-quinary);
    height: 350px;
    width: 45vh;
    display: grid;
    grid-template-columns: 11% 51% 38%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "primero segundo tercero"
        ". cuarto quinto";
}

.linkTextoFooterGris {
    margin-top: 45px;
    height: 20px;
    font-size: var(--font-size-l);
    font-style: var(--font-style-ea);
}

a {
    text-decoration: none;
    margin-right: 65px;
    font-style: var(--font-family-ea);
    color: var(--color-sextary);

}

.linkTextoNegritaFooter {
    font-weight: var(--font-weith-l);
    font-size: var(--font-size-l);
    margin-top: 45px;
    text-decoration: none;
    height: 40px;
    width: 250px;
    grid-column: 2 / 2;
}

.linkTextoNegritaFooterTexto {
    margin-right: -40px;
}

/* Estilos para el tercer grid (dentro de footerBlanco) */

.latIzq {
    height: 65px;
    width: auto;
    margin-left: 25px;
    margin-top: 25px;
    grid-area: primero;
}

.supIzq {
    justify-content: first baseline;
    margin-top: 25px;
    grid-area: segundo;
    font-size: var(--font-size-xl);
    font-style: var(--font-style-ea);
}

.infIzq {
    margin-right: 10px;
    height: 100px;
    width: 70%;
    grid-area: cuarto;
}

.supDer {
    height: 50px;
    width: 60%;
    grid-area: tercero;
}

.infDer {
    height: 50px;
    width: 25%;
    margin: 10px;
    grid-area: quinto;
}

.iconosRS {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 15px;
}