/* Estilos para el primer grid (footerGris y footerBlanco) */
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.fondoGris {
  width: 100%;
  height: 220px;
  background-color: var(--color-octave);
}

.footerGris {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.fondoBlanco {
  background-color: var(--color-quaternary);
  height: 300px;
}

.footerBlanco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.linkTextoFooterGris {
  margin-top: 45px;
  font-size: var(--font-size-m);
  font-style: var(--font-style-ea);
}

.linkTextoFooterGris a {
  margin-right: 50px;
}

a {
  text-decoration: none;
  font-style: var(--font-family-ea);
  color: var(--color-sextary);
}

.comunicarInquietudes {
  margin-right: none;
}

.linkTextoNegritaFooter {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weith-l);
  font-size: var(--font-size-l);
  margin-top: 45px;
}

.linkTextoNegritaFooterTexto {
  width: 100%;
  text-align: end;
  font-size: var(--font-size-s);
  font-family: var(--font-family-ea);
}

.izquierda{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.latIzq {
  height: 65px;
  width: auto;
  margin-left: 25px;
  margin-top: 25px;
}

.centro{
  display: flex;
  flex-direction: column;
}

.arribaCentro {
  margin-top: 25px;
  font-size: var(--font-size-l);
  font-style: var(--font-style-ea);
  line-height: 3;
}

.arribaCentro a{
  margin-right: 40px;
}
.abajoCentro {
  height: 100px;
  text-align: left;
  line-height: 2;
}

.abajoCentro a{
  margin-right: 25px;
}

.derecha{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arribaDer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.abajoDer img {
  width: 200px;
  margin-left: 290px;
}

.iconosRS {
  display: flex;
  margin-top: 15px;
}

.iconosRS svg {
  margin-right: 10px;
}
