/* Estilos para el primer grid (footerGris y footerBlanco) */
.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    // overflow: hidden;
}

.fondoGris{
    width: 100%;
    background-color: var(--color-octave);
}

.footerGris {
    background-color: var(--color-octave);
    width: 90%;
    height: 220px;
    padding: 0 150px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.fondoBlanco{
    width: 100%;
    background-color: var(--color-quinary);
}

.footerBlanco {
    background-color: var(--color-quinary);
    height: 350px;
    width: 100%;
    margin-left: 120px;
    display: grid;
    grid-template-columns: 8% 54% 38%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "primero segundo tercero"
        ". cuarto quinto";
}

.linkTextoFooterGris {
    width: 100%;
    margin-top: 45px;
    height: 20px;
    font-size: var(--font-size-m);
    font-style: var(--font-style-ea);
}

a {
    text-decoration: none;
    margin-right: 50px;
    font-style: var(--font-family-ea);
    color: var(--color-sextary);
}

.comunicarInquietudes{
    margin-right: none;
}

.linkTextoNegritaFooter {
    font-weight: var(--font-weith-l);
    font-size: var(--font-size-l);
    margin-top: 45px;
    text-decoration: none;
    grid-column: 2 / 2;
}

.linkTextoNegritaFooterTexto {
    margin-right: -20px;
}

.latIzq {
    height: 65px;
    width: auto;
    margin-left: 25px;
    margin-top: 25px;
    grid-area: primero;
}

.supIzq {
    margin-top: 25px;
    grid-area: segundo;
    font-size: var(--font-size-l);
    font-style: var(--font-style-ea);
    text-align: left;
    line-height: 3;
}

.infIzq {
    height: 100px;
    grid-area: cuarto;
    text-align: left;
    line-height: 2;
}

.supDer {
    display: flex;
    height: 85px;
    width: 100%;
    grid-area: tercero;
    margin-top: 25px;
    margin-left: -90px;
}

.infDer {
    height: 50px;
    width: 25%;
    margin: 10px;
    grid-area: quinto;
    margin-top: 90px;
    margin-left: 140px;
}

.infIzq a{
    margin-right: 45px;
}

.iconosRS {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 130px;
    margin-left: -30px;
}
