.full-page {
  background-color: #1d2033;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
  }

  a {
    color: white;
  }
  h2 {
    color: white;
  }
  button {
    border-radius: 10px;
    width: 400px;
    height: 50px;
  }
}

.form-sing {
  display: flex;
  flex-direction: column;
  input {
    border-radius: 10px;
    width: 400px;
    height: 50px;
  }
}
