body {
  font-family: var(--font-family-ea);
}
.fullPage {
  background-color: #1d2033;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  p,
  a,
  h2 {
    color: white;
   
  }
  button {
    border-radius: 10px;
    width: 420px;
    height: 50px;
    font-family: var(--font-family-ea);
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover{
      transform: scale(0.95);
      box-shadow: 0px 0px 15px 15px #1f55ca35;
    }
  }
}

    

.form-input {
  background: #141724;
  color: white;
}

.formsign {
  display: flex;
  flex-direction: column;
  input {
    border: 2px solid #62616c;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    transition: box-shadow 0.3s ease, border 0.3s ease;

    &:hover {
      box-shadow: 0px 0px 15px 15px #00000024;
      border: 2px solid #8d8d98;
    }
    &:focus {
      border: 1px solid white;
      box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.5);
    }
  }
}

.form-label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}
.buttonsignIn {
  background: #1f55ca;
  color: white;
  border: 1px solid transparent;
}
.buttonCrear {
  background: #141724;
  border: 2px solid #1f55ca;
}

.remembercheck {
  width: 423px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  color: white;
  gap: 10px;
} 
.labelremember {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
}

.form-links {
  display: flex;
  width: 423px;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
  a {
    color: #5089F1;
  }
}


.imgEA{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.passwordtoggle{
  display: flex;
  justify-content: center;
  svg{
    fill: white;
  }
}





input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 26px; 
  height: 26px;
  border: 2px solid #62616C;
  border-radius: 4px; 
  outline: none; 
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  position: relative;

}

input[type="checkbox"]:checked {
  background-color: blue;
}

input[type="checkbox"]:hover {
  border: 2px solid #8D8D98; 
}

input[type="checkbox"]:checked:hover {
  border: 2px solid #B0B0C0; 

}


input[type="checkbox"]::before {
  content: ""; 
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px; 
}


input[type="checkbox"]::after {
  content: "\2714";
  color: white; 
  font-size: 20px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.3s ease;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}
input[type="checkbox"]:focus {
  outline: none; 
  border: 2px solid white;
  box-shadow: 0px 0px 15px 2px rgba(133, 140, 155, 0.614);
}

