.IcoBasic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IcoBasic img {
    width: 250px;
}

.IcoBasic h3 {
    text-align: center;
    font-size: 24px;
}