.imageWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 20px;
  color: white;
  text-decoration: none;

  &:hover {
    transform: translateY(
      -5px
    );
  }

  img {
    width: 36px;
    height: 36px;
  }

  p {
    margin-top: 10px;
  }
}

.imageWithText.link {
  color: white;
  text-decoration: none;
}

.svgcontroll {
  display: flex;
  background-color: #161616;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;


}